################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/15. Inheritance/.vs/15. Inheritance/v17
